@import '../style/style.scss';

.trendingBox {
  border: $border;

  p {
    background-color: $backgound;
    
  }
  .imageBox {
    height: $imageHeight;
    width: $imageWidth;
  }
}
